<md-tabs md-selected="selectedIndex" md-center-tabs md-dynamic-height md-border-bottom>
  <md-tab label="COLORADO">
    <md-content class="md-padding" layout-gt-xs="row">
      <img style="max-height: 400px; border-radius: 4px; margin: 0 30px 30px 0;" src="assets/colorado.jpg">
      <div>
        <h2>COLORADO</h2>
        <div style="font-weight: bold;">
          <md-icon style="margin-right: 5px;" class="material-icons">wb_incandescent</md-icon>
          Which Utilities do we work with?
        </div>
        <ul style="margin: 6px 0 20px 10px; color: #505050;">
          <li>Xcel Energy</li>
        </ul>
        <div style="font-weight: bold;">
          <md-icon style="margin-right: 5px;" class="material-icons">supervisor_account</md-icon>
          Who can we serve?
        </div>
        <ul style="margin: 6px 0 20px 10px; color: #505050;">
          <li>Commercial Customers</li>
        </ul>
        <div style="font-weight: bold;">
          <md-icon style="margin-right: 5px;" class="material-icons">whatshot</md-icon>
          What products do we offer?
        </div>
        <ul style="margin: 6px 0 20px 10px; color: #505050;">
          <li>Smart Choice - Written Guaranteed Savings</li>
          <li>Market Pricing</li>
          <li>Managed Pricing</li>
          <li>Fixed Pricing</li>
        </ul>
        <div style="width: 100%; border-top: 1px solid lightgrey;"></div>
        <p style="font-style: italic; color: #505050;">
          Pricing options vary per utility, call or email us today to see what pricing is available
          for your utility.
        </p>
      </div>
    </md-content>
  </md-tab>
  <md-tab label="IOWA">
    <md-content class="md-padding" layout-gt-xs="row">
      <img style="max-height: 400px; border-radius: 4px; margin: 0 30px 30px 0;" src="assets/iowa.jpg">
      <div>
        <h2>IOWA</h2>
        <div style="font-weight: bold;">
          <md-icon style="margin-right: 5px;" class="material-icons">wb_incandescent</md-icon>
          Which Utilities do we work with?
        </div>
        <ul style="margin: 6px 0 20px 10px; color: #505050;">
          <li>Black Hills Energy</li>
          <li>MidAmerican Energy</li>
          <li>Alliant Energy</li>
        </ul>
        <div style="font-weight: bold;">
          <md-icon style="margin-right: 5px;" class="material-icons">supervisor_account</md-icon>
          Who can we serve?
        </div>
        <ul style="margin: 6px 0 20px 10px; color: #505050;">
          <li>Commercial &amp; Industrial Customers</li>
        </ul>
        <div style="font-weight: bold;">
          <md-icon style="margin-right: 5px;" class="material-icons">whatshot</md-icon>
          What products do we offer?
        </div>
        <ul style="margin: 6px 0 20px 10px; color: #505050;">
          <li>Smart Choice - Written Guaranteed Savings</li>
          <li>Market Pricing</li>
          <li>Managed Pricing</li>
          <li>Fixed Pricing</li>
        </ul>
        <div style="width: 100%; border-top: 1px solid lightgrey;"></div>
        <p style="font-style: italic; color: #505050;">
          Pricing options vary per utility, call or email us today to see what pricing is available
          for your utility.
        </p>
      </div>
    </md-content>
  </md-tab>
  <md-tab label="KANSAS">
    <md-content class="md-padding" layout-gt-xs="row">
      <img style="max-height: 400px; border-radius: 4px; margin: 0 30px 30px 0;" src="assets/kansas.jpg">
      <div>
        <h2>KANSAS</h2>
        <div style="font-weight: bold;">
          <md-icon style="margin-right: 5px;" class="material-icons">wb_incandescent</md-icon>
          Which Utilities do we work with?
        </div>
        <ul style="margin: 6px 0 20px 10px; color: #505050;">
          <li>Midwest Energy</li>
          <li>Atmos Energy</li>
        </ul>
        <div style="font-weight: bold;">
          <md-icon style="margin-right: 5px;" class="material-icons">supervisor_account</md-icon>
          Who can we serve?
        </div>
        <ul style="margin: 6px 0 20px 10px; color: #505050;">
          <li>Commercial &amp; Industrial Customers</li>
        </ul>
        <div style="font-weight: bold;">
          <md-icon style="margin-right: 5px;" class="material-icons">whatshot</md-icon>
          What products do we offer?
        </div>
        <ul style="margin: 6px 0 20px 10px; color: #505050;">
          <li>Market Pricing</li>
          <li>Managed Pricing</li>
          <li>Fixed Pricing</li>
        </ul>
        <div style="width: 100%; border-top: 1px solid lightgrey;"></div>
        <p style="font-style: italic; color: #505050;">
          Pricing options vary per utility, call or email us today to see what pricing is available
          for your utility.
        </p>
      </div>
    </md-content>
  </md-tab>
  <md-tab label="NEBRASKA">
    <md-content class="md-padding" layout-gt-xs="row">
      <img style="max-height: 400px; border-radius: 4px; margin: 0 30px 30px 0;"
       src="assets/nebraska.jpg">
      <div>
        <div layout="row" layout-align="space-between center">
          <h2>NEBRASKA</h2>
          <md-button class="md-primary" target="_blank" ng-click="delegationAgreement()">
            BHE (Choice) Delegation Form
          </md-button>
        </div>
        <div style="font-weight: bold;">
          <md-icon style="margin-right: 5px;" class="material-icons">wb_incandescent</md-icon>
          Which Utilities do we work with?
        </div>
        <ul style="margin: 6px 0 20px 10px; color: #505050;">
          <li>Black Hills Energy</li>
        </ul>
        <div style="font-weight: bold;">
          <md-icon style="margin-right: 5px;" class="material-icons">supervisor_account</md-icon>
          Who can we serve?
        </div>
        <ul style="margin: 6px 0 20px 10px; color: #505050;">
          <li>Commercial &amp; Industrial customers</li>
          <li>Residential customers</li>
          <li>Agricultural customers</li>
        </ul>
        <div style="font-weight: bold;">
          <md-icon style="margin-right: 5px;" class="material-icons">whatshot</md-icon>
          What products do we offer?
        </div>
        <ul style="margin: 6px 0 20px 10px; color: #505050;">
          <li>Smart Choice - Written Guaranteed Savings</li>
          <li>Market Pricing</li>
          <li>Managed Pricing</li>
          <li>Fixed Pricing</li>
        </ul>
        <div style="width: 100%; border-top: 1px solid lightgrey;"></div>
        <p style="font-style: italic; color: #505050;">
          WoodRiver Energy participates in the Black Hills Energy ChoiceGas Selection for both
          the Agricultural Program and the Residential &amp; Commercial Program.
          Please contact us for a quote.
        </p>
      </div>
    </md-content>
  </md-tab>

  <md-tab label="SOUTH DAKOTA">
    <md-content class="md-padding" layout-gt-xs="row">
      <img style="max-height: 400px; border-radius: 4px; margin: 0 30px 30px 0;" src="assets/south_dakota.jpg">
      <div>
        <h2>SOUTH DAKOTA</h2>
        <div style="font-weight: bold;">
          <md-icon style="margin-right: 5px;" class="material-icons">wb_incandescent</md-icon>
          Which Utilities do we work with?
        </div>
        <ul style="margin: 6px 0 20px 10px; color: #505050;">
          <li>MidAmerican Energy</li>
        </ul>
        <div style="font-weight: bold;">
          <md-icon style="margin-right: 5px;" class="material-icons">supervisor_account</md-icon>
          Who can we serve?
        </div>
        <ul style="margin: 6px 0 20px 10px; color: #505050;">
          <li>Commercial &amp; Industrial Customers</li>
        </ul>
        <div style="font-weight: bold;">
          <md-icon style="margin-right: 5px;" class="material-icons">whatshot</md-icon>
          What products do we offer?
        </div>
        <ul style="margin: 6px 0 20px 10px; color: #505050;">
          <li>Market Pricing</li>
          <li>Managed Pricing</li>
          <li>Fixed Pricing</li>
        </ul>
        <div style="width: 100%; border-top: 1px solid lightgrey;"></div>
        <p style="font-style: italic; color: #505050;">
          Pricing options vary per utility, call or email us today to see what pricing is available
          for your utility.
        </p>
      </div>
    </md-content>
  </md-tab>

  <md-tab label="WYOMING">
    <md-content class="md-padding" layout-gt-xs="row">
      <img style="max-height: 400px; border-radius: 4px; margin: 0 30px 30px 0;" src="assets/wyoming.jpg">
      <div>
        <div layout="row" layout-align="space-between center">
          <h2>WYOMING</h2>
          <md-button class="md-primary" target="_blank" ng-click="delegationAgreement()">
            BHE (Choice) Delegation Form
          </md-button>
        </div>
        <div style="font-weight: bold;">
          <md-icon style="margin-right: 5px;" class="material-icons">wb_incandescent</md-icon>
          Which Utilities do we work with?
        </div>
        <ul style="margin: 6px 0 20px 10px; color: #505050;">
          <li>Black Hills Energy</li>
        </ul>
        <div style="font-weight: bold;">
          <md-icon style="margin-right: 5px;" class="material-icons">supervisor_account</md-icon>
          Who can we serve?
        </div>
        <ul style="margin: 6px 0 20px 10px; color: #505050;">
          <li>Commercial &amp; Industrial</li>
          <li>Residential</li>
        </ul>
        <div style="font-weight: bold;">
          <md-icon style="margin-right: 5px;" class="material-icons">whatshot</md-icon>
          What products do we offer?
        </div>
        <ul style="margin: 6px 0 20px 10px; color: #505050;">
          <li>Market Pricing</li>
          <li>Managed Pricing</li>
          <li>Fixed Pricing</li>
        </ul>
        <div style="width: 100%; border-top: 1px solid lightgrey;"></div>
        <p style="font-style: italic; color: #505050;">
          WoodRiver Energy participates in the Black Hills Energy ChoiceGas Selection for both
          the Agricultural Program and the Residential &amp; Commercial Program.
          Please contact us for a quote.
        </p>
      </div>
    </md-content>
  </md-tab>

</md-tabs>
